# Generado por gen_manifest.ps1
# Versiona solo el manifiesto y los archivos listados (ruta real).
*
!.gitignore
!manifest.json
!RustLauncher.exe
!GameLauncher/
!GameLauncher/GameLauncher_Data/
!GameLauncher/GameLauncher_Data/Plugins/
!GameLauncher/GameLauncher_Data/Plugins/x86_64/
!GameLauncher/GameLauncher_Data/Plugins/x86_64/EasyAntiCheat.dll
!GameLauncher/GameLauncher_Data/Resources/
!GameLauncher/GameLauncher_Data/Resources/default/
!GameLauncher/GameLauncher_Data/Resources/default/renew/
!GameLauncher/GameLauncher_Data/Resources/default/renew/libs/
!GameLauncher/GameLauncher_Data/Resources/default/renew/libs/steamdb/
!GameLauncher/GameLauncher_Data/Resources/default/renew/libs/steamdb/plugins/
!GameLauncher/GameLauncher_Data/Resources/default/renew/libs/steamdb/plugins/ArgosEyeBooster.dll
